.header {
    background-color: #F55A5A;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #fff;
    margin: 0 0 40px 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    max-width: 800px;
    width: 100%;
    margin: 0 0 80px 0;
    display: flex;
    align-items: start;
}

.item img {
    max-width: 400px;
    width: 100%;
    margin: 0 20px 0 0;
}

.location span {
    margin: 0 20px 0 0;
}

.location a {
    color: #b4acac;
}

.title {
    margin: 10px 0;
}
